{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .firsty{
        background-color: rgba(217, 217, 217, 0.8);
       
    }
</style>
<body>
    <!-- picture and user area  -->
   <div class="contur" style="padding: 1cm;">
    <div class="picture" style="background-color: rgba(217, 217, 217, 0.7);">
        
        <div class="row" >
            {% if profile %}
            {% for profile in profile %}
            <div class="col" style="width: 25%;">
                <a href="#"><img src="{{profile.picture.url}}" alt="user" style="border-radius: 9cm; width:6cm; height: 6cm; padding: 0.5cm;" ></a>
            </div>
            <div class="col">
                <div class="info">
                    <strong><p style="font-size: 0.5cm;" >Username: <br>  @{{profile.name}}</p></strong>
                    <hr>
                    <p style="font-size: 0.5cm;" > <strong>Bio:</strong> <br> {{profile.Bio}}</p>
                    <hr>

                    <p style="font-size: 0.5cm;" > <strong>Contact me at:</strong> <br> {{profile.contacts}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="col" style="margin-left: 20%;">
                <a href="{% url 'edit_profile' %}"><button style="margin-top: 10%;">Edit Profile</button></a>
            </div>
        </div>
    </div>
    </div>

    <!-- post heading  -->

   <div class="container">
    <div class="head">
        <h1 style="color: white; font-weight: 700;" >Projects</h1>
    </div>
   </div>

    <!-- post display  -->
    <div class="third-section" style="margin-top: 3%;">
        <div class="container">
            <div class="project-display">
                <div class="row">
                    {% for project in projects%}
                    <div class="col">
                        <div class="card" style="width: 18rem; height: 15cm; background-color: #CEB21C;">
                            <img src="{{project.image.url}}" class="card-img-top" style="height: 6cm;" alt="...">
                            <hr>
                            <div class="card-body">
                              <h5 class="card-title"><strong>Title: {{project.title}}</strong></h5>
                              <hr>
                              <p class="card-text"><strong>Project-description: <br> </strong>{{project.description}}</p>                              
                            </div>
                            <div class="linksw">
                                <a href="{{project.link}}" class="btn" style="background-color: black; color: white; border-radius: 1cm; margin-left: 1.5cm;">View project</a>
                            </div>
                            <div class="vote">
                                <i class="fa-solid fa-thumbs-up" style="margin-left: 0.5cm; margin-top: 0.5cm;"> 1</i>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>





</body>

{% endblock%}
