{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .profile-picture{
        border-radius: 3cm;
        width: 1.5cm;
        height: 1.5cm;
    }
    .head-section{
        padding-left: 1cm;
        padding-right: 1cm;
        margin-top: 0.5cm;
        
    }
    #search{
        margin-left: 6cm;
        width: 13cm;
        
    }
    .second-section{
        background-color: #B61AA6;
        height: 1.5cm;
        
    }
   
</style>
<body>

    <!-- head-section  -->

    <div class="head-section">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" style="color: yellow; font-size: 1cm; font-weight: 700;">PROJECT-SEE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <form class="d-flex" id="search" role="search">
                <input class="form-control me-2" type="search" placeholder="Search-bar" style="border-radius: 2cm; background-color: white; color: black; " aria-label="Search">
              </form>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'profile' user.username %}" style="color: yellow; font-size: 0.5cm; font-weight: 700; margin-left: 5cm;" class="username">Hello there {{request.user}}</a>
                     

                    </li>
                </ul>            
            </div>

            <div class="profile-picture-1">
                {% for profile in profiles %}
                <a href="{% url 'profile' user.id %}"><img src="{{profile.picture.url}}" class='profile-picture' alt="" style="margin-right: 2.5cm;"></a>
                {% endfor %}
            </div>
            </div>
          </nav>
    </div>

    <!-- second-section  -->

    <div class="second-section">
        <nav class="navbar">
            <div class="container">
              <a class="navbar-brand" href="#">
                <p style="color: white; font-weight: 700;">Make someone’s day better! Appreciate their work</p>
                <a href="{% url 'new_post' %}" class="btn" style="background-color: black; color: white; border-radius: 1cm; margin-left: 1cm; margin-bottom: 1cm;">Post a Project</a>
                <a href="#"><i class="fa-brands fa-twitter" style="margin-left: 9cm; color: yellow;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram-square" style="color: yellow; margin-right: -2cm;"></i></a>
                <a href="#"><i class="fa-brands fa-facebook" style="color: yellow;"></i></a>
              </a>
            </div>

          </nav>
    </div>


    <!-- third-section  -->
    <div class="third-section" style="margin-top: 3%;">
        <div class="container">
            <div class="project-display">
                <div class="row">
                    {% for project in projects%}
                    <div class="col">
                        <div class="card" style="width: 18rem; height: 16cm; background-color: #CEB21C;">
                            <img src="{{project.image.url}}" class="card-img-top" style="height: 6cm;" alt="...">
                            <hr>
                            <div class="card-body">
                              <h5 class="card-title"><strong>Title: {{project.title}}</strong></h5>
                              <hr>
                              <p class="card-text"><strong>Project-description: <br> </strong>{{project.description}}</p>                              
                            </div>
                            <div class="linksw">
                                <a href="{{project.link}}" class="btn" style="background-color: black; color: white; border-radius: 1cm; margin-left: 1.5cm;">View project</a>
                            </div>
                            <div class="vote">
                                <!-- <i class="fa-solid fa-thumbs-up" style="margin-left: 0.5cm; margin-top: 0.5cm;"> {{project.likes.all.count}} </i> -->
                                <form action="{% url 'like_project' project.pk %}" method="POST">
                                    {%csrf_token%}
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" name="like_id" value="{{project.id}}" class="btn btn-secondary btn-sm" style="background-color: black; "><i class="fa-solid fa-thumbs-up"></i></button>
                                            <strong><p style="margin-left: 5px;" >{{project.likes.all.count}} Likes</p></strong>
                                        </div>
                                        <div class="col">
                                           
                                        </div>
                                    </div>                                   
                                   
                                </form>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


    
</body>




{% endblock %}
